<div class="d-flex justify-content-center w-100">
  <div class="form-container w-100">
    <div class="h3 w-100 text-center">Log in</div>

    <%= render 'layouts/alerts' %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field my-1">
        <%= f.label :phone, class: 'form-label' %>
        <%= f.telephone_field :phone, autofocus: true, autocomplete: 'tel', class: 'form-control' %>
      </div>

      <div class="field my-1">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-check my-1">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-primary w-100 my-2' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
