<% collapse_id = "appointment-collapse-#{appointment.id}" %>
<div class="card my-2">
  <div class="card-body py-1">
    <div class="card-title mb-0 d-flex justify-content-between align-items-center">
      <div class="d-flex d-row">
        <% user = current_user.patient? ? appointment.doctor : appointment.patient %>
        <div class="mx-1"><%= user.name %></div>
        <div class="mx-1">+<%= user.phone %></div>
        <div class="mx-1"><%= appointment.updated_at.strftime("%Y-%m-%d %H:%M") %></div>
      </div>
      <div class="d-flex flex-row h-100 align-items-center">
        <h6 class="m-0 p-0 me-2">
          <% if appointment.closed %>
            <span class="text-success">closed</span>
          <% else %>
            <span class="text-danger">opened</span>
          <% end %>
        </h6>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#<%= collapse_id %>" aria-expanded="false" aria-controls="<%= collapse_id %>">
          more
        </button>
      </div>
    </div>
    <div class="collapse" id="<%= collapse_id %>">
      <p class="card-text mt-2">
      <% if can? :edit, appointment %>
        <%= form_with model: appointment, method: :put do |f| %>
          <%= f.label :recommendation, class: 'form-label' %>
          <%= f.text_area :recommendation, class: 'form-control' %>
          <div class="w-100 d-flex justify-content-end">
            <%= f.submit 'Submit', class: 'btn btn-primary mt-2' %>
          </div>
        <% end %>
      <% else %>
        <% if can?(:read, appointment) && appointment.closed %>
          <h6>Recommendation</h6>
          <div class="container">
            <%= appointment.recommendation %>
          </div>
        <% end %>

        <% if can?(:destroy, appointment) && !appointment.closed %>
          <div class="w-100 d-flex justify-content-end">
            <%= button_to 'Delete', appointment_url(appointment), method: :delete, form_class: 'zero-size-form', class: 'btn btn-danger' %>
          </div>
        <% end %>

      <% end %>
      </p>
    </div>
    <%# link_to "Show this appointment", a %>
  </div>
</div>
