<nav class="navbar navbar-light navbar-expand-md bg-light">
  <div class="container-fluid">
    <div class="navbar-nav d-flex w-100 justify-content-between">
      <div id="nav-left" class="d-flex flex-row align-items-center">
        <% if can? :read, User.new(role: 'doctor') %>
          <%= nav_link_btn 'Doctors', doctors_path %>
        <% end %>
        <%= nav_link_btn 'Appointments', appointments_path %>
      </div>
      <div id="nav-center">
      </div>
      <div id="nav-right">
        <% if user_signed_in? %>
          <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-secondary mx-1' %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary mx-1' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
